
  .button {
    
  bottom: -15px;
  animation: bounce 0.4s infinite;
  width: 100px;
  height: 40px;
  background: #3c413d;
    color:white;
  }
  
  @keyframes bounce {
    0% {
      bottom: 0;
    }
    15%{
        bottom: -5px;
    }
    35%{
        bottom: -7px;
    }
    50%{
        bottom: -20px;
    }
    65%{
        bottom: -10px;
    }
    85%{
        bottom: -5px;
    }
    100% {
      bottom: 0;
    }
  }